.board {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.square {
    height: 2em;
    width: 2em;
}

.isMine {
    background-color: red;
    color: transparent;
}

.isClicked {
    background-color: #bdbdbd;
    color: transparent;
}

.emptySpace {
    color: transparent;
}

.flagged {
    background-color: yellow;
    color: transparent;
}

.hidden {
    display: none;
}

.winner {
    display: block;
    font-size: 30px;
    text-align: center;
    color: green;
}

.loser {
    display: block;
    font-size: 30px;
    text-align: center;
    color: red;
}